/* Remote cursor caret */
.collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 2px solid;
  border-right: none;
  word-break: normal;
  pointer-events: none;
}

/* Username label above cursor */
.collaboration-cursor__label {
  position: absolute;
  top: -1.4em;
  left: -1px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  padding: 2px 6px;
  border-radius: 4px 4px 4px 0;
  color: white;
  user-select: none;
  pointer-events: none;
  opacity: 0.9;
  z-index: 10;
}
